<!DOCTYPE html>
<html lang="en">
<!--To add a php database...//add more pictures...contact us nav bar...social media accounts...geoloaction for the business...ongoing projects...Team email addresses-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Beyond Smartt Solutions">
    <meta name="author" content="Mothupi Keenan Ramalepe">

    <title>Greyy Technologies Inc.</title> <!--Cornered Desiigners-->

    <link rel="icon" href="greyy.png" type="image/x-icon">
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a href="index.html"><img src="greyy.png" height="10%" width="auto" border="10px" class ="zoom-tilt"></a>
                
                <!--<a class="navbar-brand page-scroll" href="#page-top">Lesego Maruping</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <strong>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#About Us">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Services" >Services</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#The Team" >The Team</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#Contact Us">Contact Us</a>
                    </li>
                </ul>
                </strong>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
<p>Greyy Technologies Inc.
            </div>
        </div>
    </header>
            <p>
                 <strong><p style="text-align: center" >Follow Us:</p></strong>
                    <ul class="list-unstyled list-inline list-social-icons" style="text-align: center">
                      
                      <li>
                        <a href="https://www.facebook.com/Greyytechnologies"target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                      </li>
                                        
                    </ul>
                    </p>
                    <br>

    <section class="bg-primary" id="About Us">
        <div class="container">
            <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                    <h2 class="section-heading">About Us</h2></div>
                    <div class="col-lg-8 col-lg-offset-2 text-left">
                    <hr class="light">
                    <p class="text">The company delivers full cycle software development services to customers. Greyy Technologies Inc. is an expert in development, customization and integration of complex enterprise level solutions, advanced web and mobile applications offering well balanced blend of technology skills, hands on experience and effective agile methodologies and passion for software engineering.
                    <br>
                    <br>

                    
                    <br>
                    <br>

                    Greyy Technologies Inc. is a start-up company that aims to provide vibrant and innovative solutions to our clients by providing custom web development and application development the meets business needs in the industry
                    <br>
                    <br>

                    Application Development 
					Application development, the creation of programs that perform functions for software and hardware, are in great demand for various entities. Greyy Technologies Inc. can create many applications depending on the specifications the clients demand. 
					Once, applications focused primarily on functionality. Today, the most complex applications focus on elements such as speed, compatibility, security, scalability and customer experience. Greyy Technologies Inc. strives to create the fastest and the most user-friendly applications to meet these needs. 

                    <br>
                    <br>

                    At Greyy we care about our clients and we are about Satisfaction and Relationships. We ensure that our clients are content about their complete structures and are satisfied with our services by providing our continuous support, quality and efficient service. We also build relationships that lasts forever and that are known for their pleasantness and trust. </p>
                    
                </div>
            </div>
        </div>
    </section>

    <section id="Services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h2 class="section-heading">Services</h2>
                    <hr class="primary">
                    <p><strong>Greyy Technologies Inc partners with its prime contractors and assures the production of quality deliverables from each subcontract assigned, assuring the development of long term business relationships. Greyy Technologies Inc. provides the following services: :</strong>
                    <br>
                    <br>
                    <p>Technology/Consulting.</p>
                    <p>Custom Application development</p>
                    <p>Enterprise application Integration.</p>
					<p>Application maintenance and Support</p>
					<p>Independent Software QA and testing</p>
					<p>Independent Software QA and testing</p>
					<p>Analysis of the current technical environment.</p> 
					<p>Analysis of business requirements relevant to the application architecture</p> 
					<p>Application software requirements analysis</p> 
					<p>Application software testing</p> 
					<p>Application software testing</p>
					<p>System level integration and testing</p>
                    </p>

                </div>
            </div>
        </div>
     
    </section>
    

         <section id="The Team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <br>
                    <h2 class="section-heading">The Team</h2>
                    <hr class="primary">
                    <div class="col-lg-12 text-left">
                    <h4><li>Mothupi Keenan Ramalepe- Director and Founder</li></h4>
                    <br>
 <strong>
 <ul>
<li>Bandile Keitumetse Mashile- Co-Founder</li>
<li>Sibusiso Nkululeko Simelane- Incorporator</li>
<li>Thato Nkhumishe- Business Analyst</li>
<li>Thando Simelane- Marketing Director</li>
<ul> </p>
</strong>
<br>

               </div>
            </div>
        </div>
        <div class="col-lg-12 text-left">
<br>
<hr class="primary">
<br>
<h4><li>Mothupi Keenan Ramalepe - Director and Founder</li></h4>
<br>
<p>Mothupi is a graduate who studied software development at the independent institute of education in Pretoria and a full stack developer at Greyy Technologies Inc, with experience gained from the practical projects he's learned and had to present at school, Hackathon events and in the corporate world. He also has experience in a variety of platforms, languages, embedded systems and software testing.
he's a strong and energetic corporative person devoted to rationalization procedures and effectiveness resolving project issues
</p>
<br>
<p>Mothupi has worked at the below listed companies, expanding his knowledge and experience in the career he enjoys most:</p>
<ul>
    <li>Luminous Technology and Electronics group - Android Mobile Development trainee</li>
    <li>Bluemarket - Junior Software Developer</li>
    <li>SITUKA - Mobile and Web Development</li>
    <li>ZAH Avenue - Android Mobile Development</li>
</ul>
<hr class="primary">
<br>
<h4><li>Bandile Keitumetse Mashile - Co-Founder </li></h4>
<p>Desire is a Professional Design Draughtsman with 12 years’ experience. He has completed his certificate in Autocad Civil 3D Essential at Devotech in 2009 and he has also completed his Certificate in Geometric Design of Urban and Rural Roads at SARF in 2012. Desire has extensive knowledge of Structural Drawings, Civil Drawings (Roads, Water and Sanitation), Detail Drawings and Site Works</p>
<br>
<hr class="primary">
<h4><li>Nkululeko Sibusiso Simelane – Incorporator</li></h4>
<br>
<p>Nkululeko is a third year Chemical engineering student at the University of Pretoria, who is also passionate about technology and innovation i  plethora of industries. He is also the founder of Simelane Dynamic Solutions(Pty) Ltd.</p>
<br>
<p>He also took part in hackaton competitions with hes business partner Mothupi Keenan Ramalepe and together they have scored a collaboration on their competing prototype app at the Gauteng Connect Hackathon.</p>

</div>
        </section>
     <section id="Gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <br>
                    <h2 class="section-heading">Gallery</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        </section>
        <a href=""></a>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">



                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    
                                </div>
                                <div class="project-name">
                                    Structural Drawings
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <!--You can put a caption here for the pictures-->
                                </div>
                                <div class="project-name">
                                    Interior Design
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <!--you can insert a captipon for the image-->
                                </div>
                                <div class="project-name">
                                    Engineering Drawings
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    
                                </div>
                                <div class="project-name">
                                    Landscaping Designs
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    
                                </div>
                                <div class="project-name">
                                    2D / 3D Designs
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    
                                </div>
                                <div class="project-name">
                                    Immaculate Buildings
                                </div>
                            </div>
                        </div>
                    </a>
                </div><!--Staring of the 7th picture.-->
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/7.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/7.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    
                                </div>
                                <div class="project-name">
                                    Strategically Planned
                                </div>
                            </div>
                        </div>
                    </a>
                </div><!--The 8th picture.-->
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/8.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/8.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    
                                </div>
                                <div class="project-name">
                                    Intense Workforce
                                </div>
                            </div>
                        </div>
                    </a>
                </div><!--The 9th picture.-->
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/9.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/9.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    
                                </div>
                                <div class="project-name">
                                    Precision Based Designs
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
     <section id="Contact Us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <br>
                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="primary">
                    <div class="col-lg-12 text-left">
                    <hr class="light">
                    <p class="text">
                     <section>
                     <style>
                     .locosvatos{
                        float: left;
                        border-left-style: 1px groove; 

                     }
                     </style>
                     <div class="locosvatos">
                     <p>
                <strong><h3>Contact Us:</h3></strong>
                            
                <ul>
                  <b>Mothupi Keenan Ramalepe:</b>
                        <li>Tel no: 011 310 1443</li>
                        <li>Cell no: 062 321 6594</li>
                        <li>Email:<a href="mailoto:iamkeenan07@gmail.com" target="_top">iamkeenan07@gmail.com</a></li>
						<li>Email:<a href="mailoto:greyytechnologies@gmail.com" target="_top">greyytechnologies@gmail.com</a></li>
                        <br>
                </p>
                </div>

 <style>
 .vatoslocos
 {
    float: right;
    border-right-style: 1px groove;
 }
 </style>
 <div class="vatoslocos">
<p> 
<strong><h3>Visit Us:</h3></strong>               
<ul>
<li>Address: 2 Valley View Centre, Campbell Road,</li>
<li>Craigavon, Gauteng</li> 
<li>Johannesburg, Fourways</li>
<li>2021</li>
</ul>
</p>
</div>
<br>

    </section>
    <br>
    <br>
    <br>
    <br>
    <style>
        .mytext 
		{
    width: 500px;
    height: 250px;
}
    </style>
  <section>

      <form action="send.php" method="POST">
    Name: <br><input type="text" name="name" size="35"><br>
    Subject: <br><input type="text" name="subject" maxlength="35" size="33"><br>
    Request: <br><textarea name="request" maxlength="100" class="mytext"></textarea><p>
    <input  type="submit" name="submit" value="Submit" >
    </form>
  </section>

                    </p>

                </div>
            </div>
        </div>
                    </section>
     
    <section id="contact">
   
        <ul class="list-unstyled list-inline list-social-icons" style="text-align: right">
                     <small><!-- <li>Copyright Greyy Technologies Inc. 2018</li>-->
                      <br>
                      <li>Registered ® Greyy Technologies Inc. 2018</li></ul></small>
        <!--<ul class="list-unstyled list-inline list-social-icons" style="text-align: left">
      
    </section>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>

</html>
